__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
lib/
include/
bin/
pip-log.txt
pip-delete-this-directory.txt
db.sqlite3
/media/
/static/
.env
local_settings.py
secrets.py
.DS_Store
.vscode/
.idea/
*~
*.swp
*.log